<head>
  <!-- Design by foolishdeveloper.com -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=divice-width, initial-scale=1.0">
  <title>Responsive Profile Card UI</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <style media="screen">
  	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #EA9684; */
    font-family: Arial, Helvetica, sans-serif;
    background: #d5e1ef;

}

main {
    width: 340px;
    overflow: hidden;
    background-color: #fdfcfc;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    border-radius: 7px;
    box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.505);
    margin: 0px auto;

}

.top-card {
    width: 100%;
    /* height: 200px; */
}

.top-card img {
    width: 100%;
}

.top-card .menu-icon {
    position: relative;

    bottom: 13.7em;
    font-size: 17px;
    cursor: pointer;
}



.top-card .menu-icon .item1 {
    margin-left: 10px;
		margin-top: 15px;
		color: red;
}

.top-card .menu-icon .item2 {
   float: right;
   margin-right: 20px;
	 margin-top: -10px;
	 color: blue;

}

 

h1 {
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin: 12px 0;
    text-align: center;

}


.middle-card, footer {
    margin: 5px 25px;
}

.middle-card {
    text-align: justify;
}

footer {
    text-align: center;

}

footer .social-icon {
    /* padding: 7%; */
    font-size: 20px;
    margin: 0 5%;
    color: rgba(0, 0, 0, .9);
}

.facebook:hover {color:#3b5999;}
.twitter:hover {color: #55acee;}
.google:hover {color: #dd4b39;}
.github:hover {color: #302f2f;}
.linkedin:hover {color: #0077B5;}

footer .links {
    border-top: 2px solid rgba(0, 0, 0, .1);
    text-align: center;
    margin-top: 10px;
    padding: 8px 0;

}



button{
	width: 110px;
	height: 37px;
	margin-top: 10px;
	border-radius: 2px;
	background: #1990cc;
	font-size: 15px;
	border: none;
	color: white;
}
button:last-child{
	margin-left: 40px;
	border: 2px solid #1990cc;
	background: white;
	color: black;
}
  </style>
</head>
<body>
    <div class="grid-container">
        <div class="grid-item">
            1
            <main>
            <section class="top-card">
              <img src="https://profiles.stanford.edu/proxy/api/cap/profiles/241842/resources/profilephoto/350x350.1595966598605.jpg">
              <div class="menu-icon">
                <div class="menu item1"><a href="index.html"><i class="fas fa-heart"></i></a></div>
                <div class="menu item2"><i class="fas fa-bars"></i></div>
              </div>
        
            </section>
        
            <section class="middle-card">
              <h1>Super special professionalist</h1>
              <p>Likes cheese. Eats cheese. Drinks beer and coffee.</p>
            </section>
        
            <footer>
              <h1>Contact</h1>
              <a href="#" class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="social-icon twitter"><i class="fab fa-twitter"></i></a>
              <a href="#" class="social-icon google"><i class="fab fa-google"></i></a>
              <a href="#" class="social-icon github"><i class="fab fa-github"></i></a>
              <a href="#" class="social-icon linkedin"><i class="fab fa-linkedin"></i></a>
              <i class="fas fa-home"></i>  
              <section class="links">
                <button>Contact me</button>
                <button>Hire Me</button>
              </section>
            </footer>
            </main>
     </div>
         <div class="grid-item">
                2
                <main>
                <section class="top-card">
                  <img src="https://i1.rgstatic.net/ii/profile.image/1075446192025603-1633417761859_Q64/Sebastian-Schwalbe.jpg">
                  <div class="menu-icon">
                    <div class="menu item1"><a href="index.html"><i class="fas fa-heart"></i></a></div>
                    <div class="menu item2"><i class="fas fa-bars"></i></div>
                  </div>
            
                </section>
            
                <section class="middle-card">
                  <h1>Super special professionalist</h1>
                  <p>Likes cheese. Eats cheese. Drinks beer and coffee.</p>
                </section>
            
                <footer>
                  <h1>Contact</h1>
                  <a href="#" class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="social-icon twitter"><i class="fab fa-twitter"></i></a>
                  <a href="#" class="social-icon google"><i class="fab fa-google"></i></a>
                  <a href="#" class="social-icon github"><i class="fab fa-github"></i></a>
                  <a href="#" class="social-icon linkedin"><i class="fab fa-linkedin"></i></a>
                  <i class="fas fa-home"></i>
                  <section class="links">
                    <button>Contact me</button>
                    <button>Hire Me</button>
                  </section>
                </footer>
                </main>
        </div>
  </div>
  <main>
    <section class="top-card">
      <img src="https://i1.rgstatic.net/ii/profile.image/1075446192025603-1633417761859_Q64/Sebastian-Schwalbe.jpg">
      <div class="menu-icon">
        <div class="menu item1"><a href="index.html"><i class="fas fa-heart"></i></a></div>
        <div class="menu item2"><i class="fas fa-bars"></i></div>
      </div>

    </section>

    <section class="middle-card">
      <h1>Super special professionalist</h1>
      <p>Likes cheese. Eats cheese. Drinks beer and coffee.</p>
    </section>

    <footer>
      <h1>Contact</h1>
      <a href="#" class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social-icon twitter"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-icon google"><i class="fab fa-google"></i></a>
      <a href="#" class="social-icon github"><i class="fab fa-github"></i></a>
      <a href="#" class="social-icon linkedin"><i class="fab fa-linkedin"></i></a>
      <i class="fas fa-home"></i>
      <section class="links">
<button>Contact me</button>
<button>Hire Me</button>
      </section>
    </footer>
  </main>


</body>

